---
---

@import "{{ site.theme }}";
body {
  margin: 0;
}
img[src*="zoom=50%"] {
  zoom: 50%;
  margin: 0 auto;
  display: block;
}
.wrapper:after {
  content: "";
  display: block;
  clear: both;
}
#eba-button.eba-button {
  background-color: rgb(76,119,184)!important;
  cursor: pointer;
}
header ul.index {
  background-color: transparent;
  height: initial;
  border: none;
  border-radius: 0;
  li {
    width: initial;
    height: initial;
    float: none;
    border: none;
    border-radius: 0;
    a {
      height: 24px;
      font-size: 14px;
      text-align: left;
      line-height: 24px;
      margin: 0;
      padding: 0;
      &, &:hover {
        color: #267CB9;
      }
    }
    &[data-level="0"] a {
      padding-left: 0;
    }
    &[data-level="1"] a {
      padding-left: 20px;
    }
  }
}
@media (hover: none) {
  a, header ul.index li a {
    &, &:hover, &:focus {
      color: #267CB9;
      font-weight: bold;
    }
  }
}
a.btn-download {
    line-height: 38px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #7893c3;
    width: 137px;
    text-align: center;
    border-radius: 6px;
  &:hover, &:focus {
    font-weight: normal;
  }
}
