---
---

@import "{{ site.theme }}";
body {
  margin: 0;
}
img[src*="zoom=50%"] {
  zoom: 50%;
  margin: 0 auto;
  display: block;
}
.wrapper:after {
  content: "";
  display: block;
  clear: both;
}
#eba-button.eba-button {
  background-color: rgb(76,119,184)!important;
  cursor: pointer;
}
header ul.index {
  background-color: transparent;
  height: initial;
  border: none;
  border-radius: 0;
  li {
    width: initial;
    height: initial;
    float: none;
    border: none;
    border-radius: 0;
  }
}
