---
---

@import "{{ site.theme }}";
body {
  margin: 0;
}
img[src*="zoom=50%"] {
  zoom: 50%;
  margin: 0 auto;
  display: block;
}
.wrapper:after {
  content: "";
  display: block;
  clear: both;
}
#eba-button.eba-button {
  background-color: rgb(76,119,184)!important;
  cursor: pointer;
}
header ul.index {
  background-color: transparent;
  height: initial;
  border: none;
  border-radius: 0;
  li {
    width: initial;
    height: initial;
    float: none;
    border: none;
    border-radius: 0;
    &[data-level="0"] {
      padding-left: 0;
    }
    &[data-level="1"] {
      padding-left: 20px;
    }
    a {
      height: initial;
      font-size: 14px;
      text-align: left;
      line-height: 1.4;
      &, &:hover {
        color: #267CB9;
      }
    }
  }
}
@media (hover: none) {
  a, header ul.index li a {
    &, &:hover, &:focus {
      color: #267CB9;
      font-weight: bold;
    }
  }
}
