- priority: 10
  title: Main Section Title
  sections:
    - title: Section Title 1
      description: >
        This line will be shown as preview message for this agent.


        The following sections contains some formatting information...


        ### ***Headlines***

        We recommend to use H3 and higher to by in sync with the rest of the
        used headlines.

        ### H3


        #### H4


        ##### H5


        ###### H6


        ### ***Basic Text Formatting***

        **Bold Text**


        *Italic Text*


        ***Bold and Italic Text***


        >Block Quote


        [HyperLink](#)


        ### ***Lists***

         1. First ordered list item 
         2. Another item
            * Unordered sub-list
         1. Actual numbers don't matter, just that it's a number
            1. Ordered sub-list
         4. And another item.
            
            You can have properly indented paragraphs within list items. Notice the 
            blank line above, and the leading spaces 
            (at least one, but we'll use three here to also align the raw Markdown).
            To have a line break without a paragraph, you will need to use two trailing spaces.  

            Note that this line is separate, but within the same paragraph.  

        * Unordered list can use asterisks

        - Or minuses

        + Or pluses


        ### ***Images***


        Inline-style: 

        ![alt
        text](https://raw.githubusercontent.com/ibm-watson-embedded-business-assistant/eba-example-agents/master/assets/img/eba_wma_screenshot.png
        "EBA Landing Page")


        Reference-style: 

        ![alt text][logo]


        [logo]:
        https://raw.githubusercontent.com/ibm-watson-embedded-business-assistant/eba-example-agents/master/assets/img/eba_wma_screenshot.png
        "EBA Landing Page 2"

        ### ***Code and Syntax Highlighting***

         
          ```javascript
          var s = "JavaScript syntax highlighting";
          alert(s);
          ```
           
          ```python
          s = "Python syntax highlighting"
          print s
          ```
           
          ```
          No language indicated, so no syntax highlighting. 
          But let's throw in a <b>tag</b>.
          ```
          
        ### ***Tables***

          Colons can be used to align columns.
          
          | Tables        | Are           | Cool  |
          | ------------- |:-------------:| -----:|
          | col 3 is      | right-aligned | $1600 |
          | col 2 is      | centered      |   $12 |
          | zebra stripes | are neat      |    $1 |
          
          There must be at least 3 dashes separating each header cell.
          The outer pipes (|) are optional, and you don't need to make the 
          raw Markdown line up prettily. You can also use inline Markdown.
          
          Markdown | Less | Pretty
          --- | --- | ---
          *Still* | `renders` | **nicely**
          1 | 2 | 3
      examples:
	    - Example Question 1
	    - Example Question 2
	    - Example Question 3 with a variable user input __!
